def split(text):
    lenght=len(text)
    txt=[]
    if text[0]=="S" :
        if text[lenght-1] == ")" :
           text.pop(-1) and  text.pop(-1)
        for i in range (0,4):
            text.pop(0)
        for i in range(len(text)):
            if text[i].islower():
               txt +=text[i]
            elif i==0 :
                txt[i]=txt[i].lower()
                txt +=text[i]
            else :
               txt += " "
               txt += text[i].lower()
    for i in range (len(txt)):
        print(txt[i], end='')
    
#------------------------------------------------------------    
def combineCV(text):
    txt=[]
    if text[0]=="C" and  text[2]=="V":
         for i in range (0,4):
            text.pop(0)
         for i in range(len(text)):    
             if text[i]!=" ":
                txt +=text[i]
               # text.pop(i-1)
    for i in range (len(txt)):
        txt[i]=txt[i].lower()
        print(txt[i], end='')   
#--------------------------------------------------------------    
def combineCC(text):
    txt=[]
    allindexs=[]
    lenght=len(text)
    s=0
    if  text[0]=="C" and  text[2]=="C":
        for i in range(0,len(text)):
           if text[i]==' ' :
               allindexs.append(i)       
        for j in range (0,len(allindexs)):
            s=allindexs[j]
            text[s+1]= text[s+1].upper()
        for i in range (0,4):
            text.pop(0)
        text[0]=text[0].upper()
        for letter in text:
             if letter.isalpha():
                 txt += letter
                 continue
             else :
                del letter
        for i in txt:
           print(i, end='')        

#--------------------------------------------------------------
                
def combineCM(text):    
    txt=[]
    allindexs=[]
    lenght=len(text)
    s=0
    if  text[0]=="C" and  text[2]=="M":
        for i in range(0,len(text)):
           if text[i]==' ' :
               allindexs.append(i)       
        for j in range (0,len(allindexs)):
            s=allindexs[j]
            text[s+1]= text[s+1].upper()
        for i in range (0,4):
            text.pop(0)
        for letter in text:
             if letter.isalpha():
                 txt += letter
                 continue
             else :
                del letter
        txt=txt + ["()"]
        for i in txt:
           print(i, end='')
      
           
text=list(map(str,input("enter text : "))) 
split(text)
combineCV(text)
combineCC(text)
combineCM(text)



